.home-container {
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 40px;
    background-color: #ccbef1;
    font-family: Arial, sans-serif;
}

.home-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.home-button {
    background-color: #007bff;
    margin-left: 250px;
    color: white;
    padding: 10px 20px;
    margin-top: 400px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #0056b3;
}
